doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            h1 Custom Objects List
            
            p.add-link
                a(href='/update-cobj') ➕ Add to this table
            
            if customObjects && customObjects.length > 0
                table
                    thead
                        tr
                            th ID
                            th Name
                            th Description
                            th Category
                            th Created At
                    tbody
                        each obj in customObjects
                            tr
                                td= obj.id
                                td= obj.properties.name || 'N/A'
                                td= obj.properties.description || 'N/A'
                                td= obj.properties.category || 'N/A'
                                td= new Date(obj.createdAt).toLocaleDateString()
            else
                p.no-data No custom objects found. 
                    a(href='/update-cobj') Add your first record!
            
            footer
                p © 2025 Sara Ashraf - HubSpot Integration Practicum